Pandas
Numpy
Seaborn
Matplotlib
Plotly
datetime
scikit-learn==0.24.2
classification_report
confusion_matrix
RegexpTokenizer
SnowballStemmer
CountVectorizer
make_pipeline
Image
Wordcloud
beautifulsoup
selenium
NetworkX
Warnings
uvicorn
fastapi 
joblib
